:host {
  display: block;
  width: 100%;
  height: calc(100% - 80px);
}

app-data-table {
  width: 100%;
  height: 100%;
}

section {
  padding: 16px 0px 0px 0px;
}

.page-content-container {
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
  max-height: calc(100% - 120px);
}

.note-title-link {
  color: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}
