<app-primary-header>
  {{ 'Commitments' | translate }}
</app-primary-header>

<section class="page-content-container">
  <app-data-table [rows]="commitments()" [columns]="columns" [pageSize]="5"></app-data-table>

  <ng-template #editTpl let-row>
    <button
      mat-icon-button
      type="button"
      [attr.aria-label]="'Edit commitment ' + row.commitmentId"
      (click)="$event.stopPropagation(); handleEditClick({ data: row })"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </ng-template>

  <ng-template #deleteTpl let-row>
    <button
      mat-icon-button
      type="button"
      [attr.aria-label]="'Delete commitment ' + row.commitmentId"
      (click)="$event.stopPropagation(); handleRemoveClick({ data: row })"
    >
      <mat-icon>close</mat-icon>
    </button>
  </ng-template>

  <button mat-fab class="tracking-fab" type="button" (click)="handleFABButtonClick()">
    <mat-icon>add</mat-icon>
  </button>
</section>
