<app-primary-header>
  {{ "Settings" | translate }}
</app-primary-header>

<section class="page-content-container">
  <h2>{{ "Account" | translate }}</h2>
  <mat-nav-list>
    <a mat-list-item *ngFor="let link of accountLinks" [routerLink]="link.route">
      <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
      <span matListItemTitle>{{ link.label | translate }}</span>
    </a>
    <button mat-list-item type="button" (click)="handleLogout()" class="logout-button">
      <mat-icon matListItemIcon>logout</mat-icon>
      <span matListItemTitle>{{ "Logout" | translate }}</span>
    </button>
  </mat-nav-list>

  <h2>{{ "Catalogs" | translate }}</h2>
  <mat-nav-list>
    <a mat-list-item *ngFor="let link of catalogLinks" [routerLink]="link.route">
      <mat-icon matListItemIcon>{{ link.icon }}</mat-icon>
      <span matListItemTitle>{{ link.label | translate }}</span>
    </a>
  </mat-nav-list>

  <h2>{{ "Language" | translate }}</h2>
  <mat-radio-group class="language-radio-group" [(ngModel)]="currentLanguage">
    <mat-radio-button class="language-radio-button" [value]="'en'">English</mat-radio-button>
    <mat-radio-button class="language-radio-button" [value]="'fr'">French</mat-radio-button>
  </mat-radio-group>

  <h2>{{ "About" | translate }}</h2>
  <dl class="about">
    <dt>{{ "Version" | translate }}</dt>
    <dd>{{ version }}</dd>
    <dt>{{ "Build" | translate }}</dt>
    <dd>{{ buildHash }}</dd>
  </dl>
</section>
